<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="bias.hugoandrade.calendarviewapp">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="bias.hugoandrade.calendarviewapp.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <activity
            android:name="bias.hugoandrade.calendarviewapp.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">



        </activity>
        <activity android:name="bias.hugoandrade.calendarviewapp.LoginActivity" android:screenOrientation="portrait">
        </activity>
<!--        <activity-->
<!--            android:name=".CalendarViewWithNotesActivity"-->
<!--            android:parentActivityName="bias.hugoandrade.calendarviewapp.MainActivity"-->
<!--            android:theme="@style/AppTheme.NoActionBar">-->
<!--            <meta-data-->
<!--                android:name="android.support.PARENT_ACTIVITY"-->
<!--                android:value="org.hugoandrade.calendarviewapp.bias.hugoandrade.calendarviewapp.MainActivity" />-->
<!--        </activity>-->
        <activity
            android:name="bias.hugoandrade.calendarviewapp.CalendarViewWithNotesActivitySDK21"
            android:parentActivityName="bias.hugoandrade.calendarviewapp.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bias.hugoandrade.calendarviewapp.MainActivity" />
        </activity>

        <activity
            android:name="bias.hugoandrade.calendarviewapp.SelectDateAndTimeActivity"
            android:theme="@style/AppTheme.NoActionBar.Transition">
        </activity>

        <activity
            android:name="bias.hugoandrade.calendarviewapp.couple_askActivity"
            android:theme="@style/AppTheme.NoActionBar.Transition">
        </activity>

        <activity
            android:name="bias.hugoandrade.calendarviewapp.couple_editcodeActivity"
            android:theme="@style/AppTheme.NoActionBar.Transition">
        </activity>
        <activity
            android:name="bias.hugoandrade.calendarviewapp.couple_startdateActivity"
            android:theme="@style/AppTheme.NoActionBar.Transition">
        </activity>
        <activity
            android:name="bias.hugoandrade.calendarviewapp.couple_finishActivity"
            android:theme="@style/AppTheme.NoActionBar.Transition">
        </activity>
        <activity
            android:name="bias.hugoandrade.calendarviewapp.couple_codecreateActivity"
            android:theme="@style/AppTheme.NoActionBar.Transition">
        </activity>

        <activity
            android:name="bias.hugoandrade.calendarviewapp.Create_Schadule"
            android:parentActivityName="bias.hugoandrade.calendarviewapp.CalendarViewWithNotesActivitySDK21"
            android:theme="@style/AppTheme.NoActionBar.Transition">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bias.hugoandrade.calendarviewapp.CalendarViewWithNotesActivitySDK21" />
        </activity>

        <activity
            android:name="bias.hugoandrade.calendarviewapp.DragCreate_Schedule"
            android:parentActivityName="bias.hugoandrade.calendarviewapp.CalendarViewWithNotesActivitySDK21"
            android:theme="@style/AppTheme.NoActionBar.Transition">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bias.hugoandrade.calendarviewapp.CalendarViewWithNotesActivitySDK21" />
        </activity>
        <activity android:name="bias.hugoandrade.calendarviewapp.GalleryActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name="bias.hugoandrade.calendarviewapp.MemberInitActivity" android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>